<div class="container">
  <img ngSrc="scotiabank.png" alt="imagen" width="300" height="260" class="container__img" priority/>
  <h1 class="container__title">Lista de Atención</h1>
  <app-bank-form (recordAddedEvent)="addCustomer($event)"/>
  @if(customersBank.length>=1){
    <table class="table">
      <thead class="table__header">
        <tr class="table__row">
          <th class="table__header-cell">Id</th>
          <th class="table__header-cell">Dni</th>
          <th class="table__header-cell">Acción</th>
        </tr>
      </thead>
      <tbody class="table__body">
        @for (customerBank of customersBank; track customerBank.id) {
        <tr class="table__row">
          <td class="table__cell">{{ customerBank.id }}</td>
          <td class="table__cell">{{ customerBank.dni}}</td>
          <td class="table__cell">
            <button type="button" (click)="removeCustomer(customerBank.dni)" class="btn btn-danger table__button">
              Salir
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  }@else{
    <p class="container__not-found">No hay registros de atención</p>
  }
</div>