.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container__img {
  width: 85%;
  margin-inline: auto;
  display: block;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.container__title {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.form-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.form-control {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group__button:hover {
  background-color: #0056b3;
}

.form-group_icon {
  display: flex;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table__header {
  background-color: #007bff;
  color: #fff;
}

.table__row {
  border-bottom: 1px solid #ccc;
}
.table__row:nth-child(even) {
  background-color: #ffffff;
}

.table__header-cell,
.table__cell {
  padding: 10px;
  text-align: center;
}

.table__button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.table__button:hover {
  background-color: #c82333;
}

.container__not-found {
  margin-top: 20px;
  text-align: center;
  color: #666;
}
