<div class="container">
  <h1 class="container__title">Lista de Atención</h1>
  <form class="form-group" [formGroup]="formAtention" (ngSubmit)="addCustomer()">
    <input type="text" placeholder="Ingrese la placa del auto" class="form-control" formControlName="dni" />
    <button type="submit" class="btn btn-primary form-group__button">
      <span class="form-group_icon">
        <svg  viewBox="0 0 24 24" width="20" height="20">
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path>
        </svg>
        Registrar
      </span>
    </button>
  </form>
</div>