.container__img{
 display: block;
 margin: 0 auto;
}
.container__not-found,.container__title{
 text-align: center;
}
.container__title{
  text-transform: uppercase;
}

 .table {
  width: 100%;
  border-collapse: collapse;
  margin-top:1rem;
  width: min(95%,1005px);
  margin-inline: auto;
}

.table__header {
  background-color: #007bff;
  color: #fff;
}

.table__row {
  border-bottom: 1px solid #ddd;
}

.table__header-cell,
.table__cell {
  padding: 10px;

  text-align: center;}
.table__button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}