<!-- src/app/parking/parking.component.html -->
<div class="container">
  <h1 class="container__title">Playa de Estacionamiento</h1>
  <form class="form-group" [formGroup]="formParking" (ngSubmit)="addRecord()" >
    <input type="text" placeholder="Ingrese la placa del auto" class="form-control" formControlName="plate" />
    <button type="submit" class="btn btn-primary form-group__button" [disabled]="!formParking.valid">
      <span class="form-group_icon">
        <svg  viewBox="0 0 24 24" width="20" height="20">
          <path fill="none" d="M0 0h24v24H0z"/>
          <path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"/>
        </svg>
        Registrar
      </span>
    </button>
  </form>
  @if(parkingRecords.length>=1){
    <table class="table">
      <thead class="table__header">
        <tr class="table__row">
          <th class="table__header-cell">Placa</th>
          <th class="table__header-cell">Hora de Entrada</th>
          <th class="table__header-cell">Acción</th>
        </tr>
      </thead>
      <tbody class="table__body">
        @for (parkRecord of parkingRecords; track parkRecord.plate) {
        <tr class="table__row">
          <td class="table__cell">{{ parkRecord.plate }}</td>
          <td class="table__cell">{{ parkRecord.entryTime | date: 'medium' }}</td>
          <td class="table__cell">
            <button type="button" (click)="removeRecord(parkRecord.plate)" class="btn btn-danger table__button">
              Salir
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  }@else{
    <p class="container__not-found">No hay registros de estacionamiento</p>
  }
</div>
